.greenbox{
	background-color: green;
	height: 100px;
	width: auto;
	color: red;
}
.bluebox{
	background-color: blue;
	height: 100px;
	width: auto;
	color: red;
}
.yellowbox{
	background-color: yellow;
	height: 100px;
	width: auto;
	color: red;
}
.showkey{
	border-style: solid;
	border-color: black;
	height: 100px;
	width: auto;
}

p{
	text-align: center;
}